*{
    padding: 0;
    margin: 0;
}
body{
    background: url(/media/bg2.webp) ;
    background-position: center;
    background-size: cover;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    justify-content: center;
    background-color:#ECFFDC;
}
h1{
    width: 45rem;
    background-color: cadetblue;
    color: white;
    padding: 1rem ;
    border-radius: .4rem .4rem 0 0;
    text-align: center;

}
textarea{
    padding: 1rem;
    width: 44.72rem;
    border: 2px solid cadetblue;
    outline: none;
    font-size: 1.1rem;
}
p{
    width: 45rem;
    text-align: center;
    background-color: cadetblue;
    color: white;
    font-weight: bold;
    padding: 1rem ;
    font-size: 24px;
    border-radius: 0 0 .4rem .4rem;
}

    @media (max-width:790px){
    
        h1,p{
            padding: .8rem;
            width: 28rem;
        }
        textarea{
            font-size: 1rem;
            padding: .8rem;
            width: 27.72rem;
            height: 38rem;
        }
        p{
            font-size: 20px;
        }
    }


    @media (max-width:491px){
    
        h1,p{
            width: 20rem;
        }
        textarea{
            width: 19.72rem;
            height: 26rem;
        }
    }
