*{
    padding: 0;
    margin: 0;
}
body{
    background: url(/media/bg2.webp) ;
    background-position: center;
    background-size: cover;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    justify-content: center;
}
h1{
    width: 45rem;
    background-image: linear-gradient(to right,	#351d49,	#302d6d,	#096f4e,cadetblue);
    color: white;
    padding: 1rem ;
    border-radius: .4rem .4rem 0 0;
    text-align: center;

}
h1,p{
    animation-name: sonu1 ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }

  @keyframes sonu1{
    0%{
        background-image: linear-gradient(to right,	#351d49,	#302d6d,	#096f4e,cadetblue);
    }
    25%{
        background-image: linear-gradient(to right,	#351d49,	#302d6d,	#096f4e);
    }
    75%{
        background-image: linear-gradient(to right,#096f4e,#351d49,	#302d6d,#096f4e	);
    }
    100%{
        background-image: linear-gradient(to right,	cadetblue,#096f4e,#351d49,	#302d6d,);
    }
}
textarea{
    padding: 1rem;
    width: 44.72rem;
    border: 2px solid cadetblue;
    outline: none;
    font-size: 1.1rem;
    background-color: rgb(9, 111, 78,.2);
}
p{
    width: 45rem;
    text-align: center;
    background-image: linear-gradient(to left,	#430d4b,	#074552,#096f4e);
    color: white;
    font-weight: bold;
    padding: 1rem ;
    font-size: 24px;
    border-radius: 0 0 .4rem .4rem;
}

    @media (max-width:790px){
    
        h1,p{
            padding: .8rem;
            width: 28rem;
        }
        textarea{
            font-size: 1rem;
            padding: .8rem;
            width: 27.72rem;
            height: 38rem;
        }
        p{
            font-size: 20px;
        }
    }


    @media (max-width:491px){
        h1{
            font-size: 1.2rem;
        }
    
        h1,p{
            width: 20rem;
        }
        textarea{
            width: 19.72rem;
            height: 26rem;
        }
    }
